/*
.button-div > * {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
*/
.button-div {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  min-height: 10vh;
  background: transparent; }

.area-button-a {
  background-color: transparent;
  vertical-align: middle; }

.area-button {
  background: rgba(101, 128, 180, 0);
  position: relative;
  /*height: 10ch;
  width: 30ch;*/
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0px solid rgba(101, 128, 180, 0);
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit; }
  .area-button {
    /*@include transition(all, 0.5s, cubic-bezier(0.65,-0.25,0.25,1.95));*/
    font-weight: 900;
    /*color: $button-color;*/
    color: white;
    padding: 0.625rem 1rem;
    margin: 0.5rem;
    text-transform: uppercase; }
    .area-button:hover, .area-button:focus {
      font-weight: 1500;
      /*letter-spacing: 0.125rem;*/ }

.container-btn {
  float: left;
  display: inline-block;
  /*
    grid-area: main;
    align-self: center;
    justify-self: center;*/ }

.container-btn2 {
  height: 11ch;
  /*width: 30ch;*/
  text-align: center;
  display: table; }

.inside-btn {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

span.clear {
  clear: both;
  display: block; }

/*
@supports (display: grid) {
  .button-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }
  
}
*/
.collapsible {
  background-color: #6580b4;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; }

.active, .collapsible:hover {
  background-color: rgba(101, 128, 180, 0.75); }

.content {
  /*width: 100%;*/
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1; }

div .block {
  border: 1px solid black;
  padding: 5px;
  margin: 5px; }

/*
div .sp {
  background-color: $pale-red;
}

div .tpp {
  background-color: $pale-yellow;
}
div .app {
  background-color: $pale-blue;
}

div .cm {
  background-color: $pale-green;
}
div .ap {
  background-color: $sand;
}
*/
.grant_m {
  height: 150px;
  padding-bottom: 30px; }

.grant_f {
  position: relative;
  top: -75px;
  background: linear-gradient(0deg, #f1f1f1, transparent);
  height: 75px; }

.grant_c {
  /*height: $grant_height;*/
  overflow: hidden; }

.grant_title {
  text-align: center;
  font-weight: 900; }

a.grant_title_link {
  text-decoration: none;
  color: inherit;
  background: inherit; }
